<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Funto - HTML NFT Marketplace">
    <!-- Title-->
    <title>Funto - HTML NFT Marketplace</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/core-img/favicon.ico" type="image/x-icon">
    <!-- All CSS Stylesheet-->
    <link rel="stylesheet" href="css/all-css-libraries.css">
    <!-- Core Stylesheet-->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- Preloader-->
    <div class="preloader" id="preloader">
      <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
    <!-- Header Area-->
    <header class="header-area">   
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <!-- Navbar Brand --><a class="navbar-brand" href="index.html"><img class="light-logo" src="img/core-img/logo.png" alt=""><img class="dark-logo" src="img/core-img/logo-white.png" alt=""></a>
          <!-- Navbar Toggler -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#funtoNav" aria-controls="funtoNav" aria-expanded="false" aria-label="Toggle navigation"><i class="bi bi-grid"></i></button>
          <!-- Navbar -->
          <div class="collapse navbar-collapse" id="funtoNav">
            <ul class="navbar-nav navbar-nav-scroll my-2 my-lg-0">
              <li class="ft-dd"><a href="#">Home</a>
                <ul class="ft-dd-menu">
                  <li><a href="home-1.html">Home Variation 1</a></li>
                  <li><a href="home-2.html">Home Variation 2</a></li>
                </ul>
              </li>
              <li class="ft-dd"><a href="#">Explore</a>
                <ul class="ft-dd-menu">
                  <li><a href="explore-1.html">Explore 1</a></li>
                  <li><a href="explore-2.html">Explore 2</a></li>
                  <li><a href="featured-items.html">Featured Drops</a></li>
                  <li><a href="live-bidding.html">Live Auctions</a></li>
                  <li><a href="collections.html">Collections</a></li>
                  <li><a href="top-seller.html">Top Seller</a></li>
                  <li><a href="top-buyer.html">Top Buyer</a></li>
                  <li><a href="item-details.html">Item Details</a></li>
                </ul>
              </li>
              <li class="ft-dd"><a href="#">Admin</a>
                <ul class="ft-dd-menu">
                  <li><a href="dashboard.html">Dashboard</a></li>
                  <li><a href="live-bids.html">Live Bids</a></li>
                  <li><a href="my-collection.html">My Collection</a></li>
                  <li><a href="my-wallet.html">My Wallet</a></li>
                  <li><a href="notifications.html">Notifications</a></li>
                  <li><a href="settings.html">Settings</a></li>
                </ul>
              </li>
              <li class="ft-dd"><a href="#">Pages</a>
                <ul class="ft-dd-menu">
                  <li><a href="activity.html">Activity</a></li>
                  <li><a href="ranking.html">Ranking</a></li>
                  <li><a href="create-new.html">Create New Items</a></li>
                  <li><a href="connet-wallet.html">Connect Wallet</a></li>
                  <li><a href="author.html">Author Profile</a></li>
                  <li class="ft-dd"><a href="#">Authentification</a>
                    <ul class="ft-dd-menu">
                      <li><a href="register.html">Register</a></li>
                      <li><a href="login.html">Login</a></li>
                      <li><a href="forget-password.html">Forget Password</a></li>
                    </ul>
                  </li>
                  <li class="ft-dd"><a href="#">Blog</a>
                    <ul class="ft-dd-menu">
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                  </li>
                  <li class="ft-dd"><a href="#">Others</a>
                    <ul class="ft-dd-menu">
                      <li><a href="about.html">About Us</a></li>
                      <li><a href="contact.html">Contact</a></li>
                      <li><a href="coming-soon.html">Coming Soon</a></li>
                      <li><a href="newsletter.html">Newsletter</a></li>
                      <li><a href="privacy.html">Privacy Policy</a></li>
                      <li><a href="terms.html">Terms</a></li>
                      <li><a href="404.html">404</a></li>
                    </ul>
                  </li>
                  <li class="ft-dd"><a href="#">Help Center</a>
                    <ul class="ft-dd-menu">
                      <li><a href="help-center.html">Help Home</a></li>
                      <li><a href="help-questions.html">All Questions</a></li>
                      <li><a href="question-details.html">Question Details</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="help-center.html">Help Center</a></li>
            </ul>
            <!-- Header Meta -->
            <div class="header-meta d-flex align-items-center ms-lg-auto">
              <!-- Search Form -->
              <div class="search-form position-relative d-flex align-items-center">
                <input class="form-control" type="text" placeholder="Search">
                <button class="position-absolute" type="submit"><i class="bi bi-search"></i></button>
              </div>
              <!-- User Dropdown -->
              <div class="user-dropdown dropdown mx-3">
                <button class="btn dropdown-toggle user-btn" id="dropdownMenuButton1" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></button>
                <ul class="dropdown-menu mt-3" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="dashboard.html"><i class="me-2 bi bi-speedometer2"></i>Dashboard</a></li>
                  <li><a class="dropdown-item" href="my-collection.html"><i class="me-2 bi bi-collection"></i>Collections</a></li>
                  <li><a class="dropdown-item" href="notifications.html"><i class="me-2 bi bi-bell"></i>Notifications</a></li>
                  <li><a class="dropdown-item" href="settings.html"><i class="me-2 bi bi-gear"></i>Settings</a></li>
                </ul>
              </div>
              <!-- Create New Button --><a class="btn btn-warning btn-sm rounded-pill" href="create-new.html">Create</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- Error -->
    <div class="funto-error-area text-center pt-120">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-10 col-md-9 col-lg-6"><img class="mb-5" src="img/illustrator/6.png" alt="">
            <h2>Uh oh! Nothing found.</h2>
            <p>We couldn't find any results for your search. Try again.</p><a class="btn btn-primary mt-3 rounded-pill" href="index.html"><i class="me-1 bi bi-house"></i>Go home</a>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <!-- Dark Light Wrapper -->
    <div class="dark-light-wrapper" data-aos="zoom-in" data-aos-duration="750" data-aos-delay="200">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="mb-0 text-white" data-aos="fade-up" data-aos-duration="750" data-aos-delay="500">Light mode is available!</h5>
          <!-- Switch -->
          <div class="dark-light-mode" data-aos="fade-up" data-aos-duration="750" data-aos-delay="800">
            <input id="darkLightSwitch" type="checkbox">
            <label class="shadow" for="darkLightSwitch">Toggle</label>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="footer-area pb-120 pt-120" style="background-image: url('img/bg-img/1.jpg')"><img class="footer-bg-shape" src="img/core-img/shape1.png" alt="" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
      <div class="container">
        <div class="row">
          <!-- Footer Widget -->
          <div class="col-12 col-lg-5">
            <div class="footer-widget-area mb-70 pe-lg-4 pe-xl-5 me-lg-4 me-xl-5 border-end"><a class="d-block mb-4" href="index.html"><img class="light-logo" src="img/core-img/logo.png" alt=""><img class="dark-logo" src="img/core-img/logo-white.png" alt=""></a>
              <p>It's crafted with the latest trend of design &amp; coded with all modern approaches.</p>
              <p class="mb-0">Call: +123 456 789 <br> Email: help@example.com</p>
              <!-- Social Icon -->
              <h5 class="mt-4 mb-3">Join the community</h5>
              <div class="footer-social-icon d-flex align-items-center flex-wrap"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facbook"><img src="img/core-img/icons8-facebook.svg" alt=""></a><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><img src="img/core-img/icons8-twitter.svg" alt=""></a><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><img src="img/core-img/icons8-instagram.svg" alt=""></a><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Slack"><img src="img/core-img/icons8-slack.svg" alt=""></a><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Youtube"><img src="img/core-img/icons8-player.svg" alt=""></a></div>
              <!-- Newsletter Form -->
              <div class="newsletter-form mt-5 me-5">
                <form class="d-flex align-items-stretch" action="#">
                  <input class="form-control" type="email" placeholder="Enter email">
                  <button class="btn btn-warning px-3" type="submit">Subscribe</button>
                </form>
              </div>
            </div>
          </div>
          <!-- Footer Widget -->
          <div class="col-12 col-lg-7">
            <div class="row g-4">
              <div class="col-6 col-sm-4">
                <div class="footer-widget-area mb-70">
                  <h5 class="mb-4">Explore</h5>
                  <ul class="list-unstyled mb-0">
                    <li><a href="featured-items.html">Featured Drops</a></li>
                    <li><a href="live-bidding.html">Live Auctions</a></li>
                    <li><a href="collections.html">Collections</a></li>
                    <li><a href="top-seller.html">Top Seller</a></li>
                    <li><a href="top-buyer.html">Top Buyer</a></li>
                    <li><a href="item-details.html">Item Details</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="footer-widget-area mb-70">
                  <h5 class="mb-4">Marketplace</h5>
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Art</a></li>
                    <li><a href="#">Cards</a></li>
                    <li><a href="#">Collectibles</a></li>
                    <li><a href="#">Domain</a></li>
                    <li><a href="#">Photos</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Videos</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="footer-widget-area mb-70">
                  <h5 class="mb-4">Company</h5>
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Licences</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Conditions</a></li>
                    <li><a href="#">Privacy</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="copywrite-wrapper d-lg-flex align-items-lg-center justify-content-lg-between">
          <!-- Copywrite Text -->
          <div class="copywrite-text text-center text-lg-start mb-3 mb-lg-0">
            <p class="mb-0">2022 &copy; All rights reserved by <a href="https://themeforest.net/user/designing-world/portfolio" target="_blank" rel="noreferrer">Designing World</a></p>
          </div>
          <!-- Footer Nav -->
          <div class="footer-nav">
            <ul class="mb-0 d-flex flex-wrap justify-content-center list-unstyled">
              <li><a href="privacy.html">Privacy Policy</a></li>
              <li><a href="terms.html">Terms &amp; Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Scroll To Top -->
    <div id="scrollTopButton"><i class="bi bi-arrow-up-short"></i></div>
    <!-- All JavaScript Files-->
    <script src="js/all-js-libraries.js"></script>
    <script src="js/active.js"></script>
    <script src="js/charts.js"></script>
  </body>
</html>