<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Funto - HTML NFT Marketplace">
    <!-- Title-->
    <title>Funto - HTML NFT Marketplace</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/core-img/favicon.ico" type="image/x-icon">
    <!-- All CSS Stylesheet-->
    <link rel="stylesheet" href="css/all-css-libraries.css">
    <!-- Core Stylesheet-->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- Preloader-->
    <div class="preloader" id="preloader">
      <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
    <!-- Wrap -->
    <div class="coming-soon-wrapper bg-img bg-overlay" style="background-image: url('img/bg-img/1.jpg')">
      <div class="cs-content w-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
              <div class="logo mb-5"><img src="img/core-img/logo-white.png" alt=""></div>
              <!-- Countdown -->
              <div class="bid-ends" data-date="March 31, 2023 14:19:54">
                <div><span class="days"></span><span>Days</span></div>
                <div><span class="hours"></span><span>Hours</span></div>
                <div><span class="minutes"></span><span>Min</span></div>
                <div><span class="seconds"></span><span>Sec</span></div>
              </div>
              <h2 class="display-4 mb-4 fw-bold">Coming Soon</h2>
              <p class="mb-4">Build an excellent NFTs website with Funto.</p><a class="btn btn-primary btn-sm rounded-pill" href="index.html">View Status</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- All JavaScript Files-->
    <script src="js/all-js-libraries.js"></script>
    <script src="js/active.js"></script>
    <script src="js/charts.js"></script>
  </body>
</html>