<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Funto - HTML NFT Marketplace">
    <!-- Title-->
    <title>Funto - HTML NFT Marketplace</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/core-img/favicon.ico" type="image/x-icon">
    <!-- All CSS Stylesheet-->
    <link rel="stylesheet" href="css/all-css-libraries.css">
    <!-- Core Stylesheet-->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- Preloader-->
    <div class="preloader" id="preloader">
      <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>
    <!-- Header Wrapper -->
    <header class="header-area dashboard-header px-0 px-sm-0">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <!-- Brand Logo -->
            <div class="admin-logo me-1 me-sm-3"><img src="img/core-img/dashboard-logo.png" alt=""></div>
            <!-- Search Form -->
            <div class="search-form position-relative d-flex align-items-center">
              <input class="form-control" type="text" placeholder="Search">
              <button class="position-absolute" type="submit"><i class="bi bi-search"></i></button>
            </div>
          </div>
          <!-- Header Meta -->
          <div class="header-meta d-flex align-items-center">
            <!-- Notification -->
            <div class="user-dropdown dropdown mx-2 mx-sm-3">
              <button class="btn dropdown-toggle user-btn" id="dd10" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="img/core-img/notification.png" alt=""></button>
              <ul class="dropdown-menu noti-dd-menu dropdown-menu-end mt-3" aria-labelledby="dd10">
                <li><a class="dropdown-item" href="#"><i class="me-2 bi bi-percent"></i>You have an offer!</a></li>
                <li><a class="dropdown-item" href="#"><i class="bg-info me-2 bi bi-tags"></i>Congratulations! You sale an item.</a></li>
                <li><a class="dropdown-item" href="#"><i class="bg-danger me-2 bi bi-gift"></i>January freebies have arrived.</a></li>
                <li><a class="dropdown-item" href="#"><i class="bg-warning me-2 bi bi-star"></i>A new rating has been received.</a></li>
                <li><a class="dropdown-item justify-content-center" href="notifications.html">View all notifications</a></li>
              </ul>
            </div>
            <!-- User Dropdown -->
            <div class="user-dropdown dropdown">
              <button class="btn dropdown-toggle user-btn" id="dd20" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="img/core-img/user.png" alt=""></button>
              <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="dd20">
                <li><a class="dropdown-item" href="dashboard.html"><i class="me-2 bi bi-person-circle"></i>Dashboard</a></li>
                <li><a class="dropdown-item" href="live-bids.html"><i class="me-2 bi bi-hammer"></i>My bids</a></li>
                <li><a class="dropdown-item" href="my-collection.html"><i class="me-2 bi bi-collection"></i>Collection</a></li>
                <li><a class="dropdown-item" href="settings.html"><i class="me-2 bi bi-gear"></i>Settings</a></li>
              </ul>
            </div>
            <!-- Menu Toggler -->
            <div class="menu-toggler ms-2 ms-sm-3" id="dashboardMenuTrigger"><i class="bi bi-list"></i></div>
            <!-- Button --><a class="btn btn-sm btn-danger rounded-pill ms-2 ms-sm-3 d-none d-sm-block" href="home-1.html"><i class="bi bi-eye me-1"></i>Frontend</a>
          </div>
        </div>
      </nav>
    </header>
    <!-- Admin Sidebar Wrap -->
    <div class="admin-sidebar-wrap">
      <div class="overflowY-scroll">
        <!-- User Profile -->
        <div class="user-profile">
          <!-- User Name -->
          <div class="user-name mb-5">
            <div class="d-flex align-items-center"><img src="img/bg-img/u2.jpg" alt="">
              <div class="ms-3">
                <h6 class="lh-1 text-dark fz-18">Designing W.</h6><span class="badge bg-primary fz-12">Premium User</span>
              </div>
            </div>
          </div>
          <!-- Balance -->
          <div class="card shadow mb-5">
            <div class="card-body text-center p-4">
              <h6 class="mb-1">Current balance</h6>
              <h5 class="mb-0 text-dark d-flex align-items-center justify-content-center"><img class="me-1" src="img/core-img/ethereum.png" alt=""><span class="counter">4.09685</span><span class="ms-2">ETH</span></h5><a class="btn btn-warning rounded-pill btn-sm w-100 mt-3" href="#">Recharge</a>
            </div>
          </div>
        </div>
        <!-- Sidenav -->
        <div class="sidenav">
          <ul>
            <li>Menu</li>
            <li><a class="active" href="dashboard.html"><i class="bi bi-speedometer"></i>Dashboard</a></li>
            <li><a href="live-bids.html"><i class="bi bi-hammer"></i>Live Bids</a></li>
            <li><a href="my-collection.html"><i class="bi bi-columns-gap"></i>My Collections</a></li>
            <li><a href="my-wallet.html"><i class="bi bi-wallet2"></i>My Wallet</a></li>
            <li><a href="notifications.html"><i class="bi bi-bell"></i>Notifications</a></li>
            <li><a href="settings.html"><i class="bi bi-gear"></i>Settings</a></li>
          </ul>
        </div>
        <div class="mt-auto">
          <div class="mt-5"></div>
          <!-- Mode Switching -->
          <div class="dark-light-mode">
            <input id="darkLightSwitch" type="checkbox">
            <label class="shadow" for="darkLightSwitch">Toggle</label>
          </div>
          <div class="copywrite-text mt-4">
            <p class="mb-0 fz-14">2022 &copy; All rights reserved by <a class="fz-14" href="#" target="_blank">Designing World</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Create New Button -->
    <div class="create-new-button"><a class="shadow-lg btn btn-warning" href="create-new.html" data-bs-toggle="tooltip" data-bs-placement="left" title="Create New NFT"><i class="fz-18 bi bi-plus-lg"></i></a></div>
    <div class="admin-wrapper">
      <div class="container">
        <div class="row g-4">
          <div class="col-12 col-xxl-6">
            <div class="row g-4">
              <!-- Welcome Card -->
              <div class="col-12">
                <div class="card dashboard-hero-card p-2 border-0 bg-img shadow-sm" style="background-image: url('img/bg-img/44.jpg')">
                  <div class="card-body p-4">
                    <h3 class="mb-3 text-white">Explore, buy, and sell exceptional NFTs.</h3>
                    <p class="mb-4 text-white">It's crafted with the latest trend of design &amp; coded with all modern approaches.</p>
                    <div class="button-groups"><a class="btn btn-sm btn-warning rounded-pill me-3" href="#">Discover</a><a class="btn btn-sm btn-dark rounded-pill" href="#">Create</a></div>
                  </div>
                </div>
              </div>
              <!-- Statistic Card -->
              <div class="col-12 col-sm-6">
                <div class="card border-0 shadow-sm">
                  <div class="card-body p-4">
                    <div class="d-flex align-items-center justify-content-between">
                      <div>
                        <h5 class="mb-2">Sales</h5><span>Last 10 days</span>
                      </div>
                      <div class="ms-auto" id="chart-1"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Statistic Card -->
              <div class="col-12 col-sm-6">
                <div class="card border-0 shadow-sm">
                  <div class="card-body p-4">
                    <div class="d-flex align-items-center justify-content-between">
                      <div>
                        <h5 class="mb-2">Revenue</h5><span>Last 10 days</span>
                      </div>
                      <div class="ms-auto" id="chart-2"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xxl-6">
            <!-- Monthly Visitor -->
            <div class="col-12">
              <div class="card border-0 shadow-sm">
                <div class="card-body p-4 pb-0">
                  <h5 class="ms-3">Monthly Visitors</h5>
                  <div id="chart-timeline"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xxl-6">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-4">
                <div class="d-flex flex-wrap align-items-center justify-content-between mb-3">
                  <h5>Activity</h5>
                  <ul class="nav nav-tabs border-0 mb-2" id="funtoTab" role="tablist">
                    <li class="nav-item"><a class="rounded-pill btn btn-sm btn-primary me-1 active" id="tab--1" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Today</a></li>
                    <li class="nav-item"><a class="rounded-pill btn btn-sm btn-primary me-1" id="tab--2" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">7 days</a></li>
                    <li class="nav-item"><a class="rounded-pill btn btn-sm btn-primary" id="tab--3" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">30 days</a></li>
                  </ul>
                </div>
                <div class="tab-content">
                  <!-- Tab Pane-->
                  <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                    <div class="table-responsive border shadow-sm dashboard-table activity-table">
                      <table class="table mb-0">
                        <tbody>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/5.jpg" alt="">NFT Logo</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.235 ETH</span></td>
                            <td><i class="bi bi-cart"></i>Sales</td>
                            <td><i class="bi bi-clock"></i>29 min ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/6.jpg" alt="">Pixel Art</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.706 ETH</span></td>
                            <td><i class="bi bi-percent"></i>Offer</td>
                            <td><i class="bi bi-clock"></i>1h ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/7.jpg" alt="">Funny Pigs</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.105 ETH</span></td>
                            <td><i class="bi bi-patch-exclamation"></i>Alert</td>
                            <td><i class="bi bi-clock"></i>2h ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/8.jpg" alt="">Fancy Car 2</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.95 ETH</span></td>
                            <td><i class="bi bi-cart"></i>Sales</td>
                            <td><i class="bi bi-clock"></i>3h ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/5.jpg" alt="">NFT Logo</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.235 ETH</span></td>
                            <td><i class="bi bi-cart"></i>Sales</td>
                            <td><i class="bi bi-clock"></i>12h ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/6.jpg" alt="">Pixel Art</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.706 ETH</span></td>
                            <td><i class="bi bi-percent"></i>Offer</td>
                            <td><i class="bi bi-clock"></i>17h ago</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Tab Pane-->
                  <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                    <div class="table-responsive border shadow-sm activity-table">
                      <table class="table mb-0">
                        <tbody>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/5.jpg" alt="">NFT Logo</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.235 ETH</span></td>
                            <td><i class="bi bi-cart"></i>Sales</td>
                            <td><i class="bi bi-clock"></i>29 min ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/6.jpg" alt="">Pixel Art</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.706 ETH</span></td>
                            <td><i class="bi bi-percent"></i>Offer</td>
                            <td><i class="bi bi-clock"></i>1h ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/7.jpg" alt="">Funny Pigs</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.105 ETH</span></td>
                            <td><i class="bi bi-patch-exclamation"></i>Alert</td>
                            <td><i class="bi bi-clock"></i>2h ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/8.jpg" alt="">Fancy Car 2</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.95 ETH</span></td>
                            <td><i class="bi bi-cart"></i>Sales</td>
                            <td><i class="bi bi-clock"></i>3h ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/5.jpg" alt="">NFT Logo</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.235 ETH</span></td>
                            <td><i class="bi bi-cart"></i>Sales</td>
                            <td><i class="bi bi-clock"></i>12h ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/6.jpg" alt="">Pixel Art</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.706 ETH</span></td>
                            <td><i class="bi bi-percent"></i>Offer</td>
                            <td><i class="bi bi-clock"></i>17h ago</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Tab Pane-->
                  <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab--3">
                    <div class="table-responsive border shadow-sm activity-table">
                      <table class="table mb-0">
                        <tbody>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/5.jpg" alt="">NFT Logo</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.235 ETH</span></td>
                            <td><i class="bi bi-cart"></i>Sales</td>
                            <td><i class="bi bi-clock"></i>29 min ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/6.jpg" alt="">Pixel Art</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.706 ETH</span></td>
                            <td><i class="bi bi-percent"></i>Offer</td>
                            <td><i class="bi bi-clock"></i>1h ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/7.jpg" alt="">Funny Pigs</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.105 ETH</span></td>
                            <td><i class="bi bi-patch-exclamation"></i>Alert</td>
                            <td><i class="bi bi-clock"></i>2h ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/8.jpg" alt="">Fancy Car 2</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.95 ETH</span></td>
                            <td><i class="bi bi-cart"></i>Sales</td>
                            <td><i class="bi bi-clock"></i>3h ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/5.jpg" alt="">NFT Logo</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.235 ETH</span></td>
                            <td><i class="bi bi-cart"></i>Sales</td>
                            <td><i class="bi bi-clock"></i>12h ago</td>
                          </tr>
                          <tr>
                            <th scope="row"><a class="btn btn-minimal text-dark hover-primary" href="#"> <img class="rounded me-1" src="img/bg-img/6.jpg" alt="">Pixel Art</a></th>
                            <td> <span class="d-inline-block fw-bold fz-14">0.706 ETH</span></td>
                            <td><i class="bi bi-percent"></i>Offer</td>
                            <td><i class="bi bi-clock"></i>17h ago</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Treading Auctions -->
          <div class="col-12 col-xxl-6">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-4">
                <div class="d-flex align-items-center mb-3"><img class="me-1" src="img/core-img/fire2.png" alt="">
                  <h5 class="mb-0">Trending Auctions</h5>
                </div>
                <div class="trending-auction-slide">
                  <div>
                    <div class="nft-card card border-0 bg-gray">
                      <div class="card-body">
                        <div class="img-wrap"><img src="img/bg-img/9.jpg" alt="">
                          <!-- Badge -->
                          <div class="badge bg-dark position-absolute"><img src="img/core-img/fire.png" alt="">New Bid</div>
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <button class="btn dropdown-toggle rounded-pill shadow-sm" id="dropdownqc22" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                            <!-- Dropdown Menu -->
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownqc22">
                              <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                              <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                              <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                            </ul>
                          </div>
                          <!-- Bid End -->
                          <div class="bid-ends" data-date="March 31, 2023 14:19:54">
                            <div><span class="days"></span><span>Days</span></div>
                            <div><span class="hours"></span><span>Hours</span></div>
                            <div><span class="minutes"></span><span>Min</span></div>
                            <div><span class="seconds"></span><span>Sec</span></div>
                          </div>
                        </div>
                        <!-- Others Info -->
                        <div class="row gx-2 align-items-center mt-3">
                          <div class="col-8"><span class="d-block fz-12"><i class="bi bi-bag me-1"></i>3 stock available</span></div>
                          <div class="col-4 text-end">
                            <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                          </div>
                        </div>
                        <!-- Meta Info -->
                        <div class="row gx-2 align-items-center mt-2">
                          <div class="col-8">
                            <div class="name-info d-flex align-items-center">
                              <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u4.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                              <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Fancy Car">Fancy Car</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@fancy_car</a></div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                              <h6 class="mb-0">0.784 ETH</h6>
                            </div>
                          </div>
                          <div class="col-12"><a class="btn btn-primary rounded-pill btn-sm mt-3 w-100" href="#">Place Bid</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="nft-card card border-0 bg-gray">
                      <div class="card-body">
                        <div class="img-wrap"><img src="img/bg-img/10.jpg" alt="">
                          <!-- Badge -->
                          <div class="badge bg-dark position-absolute"><img src="img/core-img/fire.png" alt="">New Bid</div>
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <button class="btn dropdown-toggle rounded-pill shadow-sm" id="dropdownvb22" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                            <!-- Dropdown Menu -->
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownvb22">
                              <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                              <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                              <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                            </ul>
                          </div>
                          <!-- Bid End -->
                          <div class="bid-ends" data-date="April 4, 2023 00:00:00">
                            <div><span class="days"></span><span>Days</span></div>
                            <div><span class="hours"></span><span>Hours</span></div>
                            <div><span class="minutes"></span><span>Min</span></div>
                            <div><span class="seconds"></span><span>Sec</span></div>
                          </div>
                        </div>
                        <!-- Others Info -->
                        <div class="row gx-2 align-items-center mt-3">
                          <div class="col-8"><span class="d-block fz-12"><i class="bi bi-bag me-1"></i>11 stock available</span></div>
                          <div class="col-4 text-end">
                            <button class="wishlist-btn active" type="button"><i class="bi"></i></button>
                          </div>
                        </div>
                        <!-- Meta Info -->
                        <div class="row gx-2 align-items-center mt-2">
                          <div class="col-8">
                            <div class="name-info d-flex align-items-center">
                              <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u1.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                              <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Animal Playing with Guiter">Animal Playing with Guiter</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@creative_world</a></div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                              <h6 class="mb-0">0.784 ETH</h6>
                            </div>
                          </div>
                          <div class="col-12"><a class="btn btn-primary rounded-pill btn-sm mt-3 w-100" href="#">Place Bid</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="nft-card card border-0 bg-gray">
                      <div class="card-body">
                        <div class="img-wrap"><img src="img/bg-img/11.jpg" alt="">
                          <!-- Badge -->
                          <div class="badge bg-danger position-absolute"><img src="img/core-img/fire.png" alt="">Bid Done</div>
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <button class="btn dropdown-toggle rounded-pill shadow-sm" id="dropdown282" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                            <!-- Dropdown Menu -->
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown282">
                              <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                              <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                              <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                            </ul>
                          </div>
                          <!-- Bid End -->
                          <div class="bid-ends" data-date="Feb 28, 2023 12:34:00">
                            <div><span class="days"></span><span>Days</span></div>
                            <div><span class="hours"></span><span>Hours</span></div>
                            <div><span class="minutes"></span><span>Min</span></div>
                            <div><span class="seconds"></span><span>Sec</span></div>
                          </div>
                        </div>
                        <!-- Others Info -->
                        <div class="row gx-2 align-items-center mt-3">
                          <div class="col-8"><span class="d-block fz-12"><i class="bi bi-bag me-1"></i>Not available</span></div>
                          <div class="col-4 text-end">
                            <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                          </div>
                        </div>
                        <!-- Meta Info -->
                        <div class="row gx-2 align-items-center mt-2">
                          <div class="col-8">
                            <div class="name-info d-flex align-items-center">
                              <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u2.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                              <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Halloween #471">Halloween #471</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@fancy_car</a></div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                              <h6 class="mb-0">0.784 ETH</h6>
                            </div>
                          </div>
                          <div class="col-12"><a class="btn btn-primary rounded-pill btn-sm mt-3 w-100 disabled" href="#">Place Bid</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="nft-card card border-0 bg-gray">
                      <div class="card-body">
                        <div class="img-wrap"><img src="img/bg-img/12.jpg" alt="">
                          <!-- Badge -->
                          <div class="badge bg-danger position-absolute"><img src="img/core-img/fire.png" alt="">Hot Bid</div>
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <button class="btn dropdown-toggle rounded-pill shadow-sm" id="dropdown42r2" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                            <!-- Dropdown Menu -->
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown42r2">
                              <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                              <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                              <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                            </ul>
                          </div>
                          <!-- Bid End -->
                          <div class="bid-ends" data-date="December 31, 2022 14:19:39">
                            <div><span class="days"></span><span>Days</span></div>
                            <div><span class="hours"></span><span>Hours</span></div>
                            <div><span class="minutes"></span><span>Min</span></div>
                            <div><span class="seconds"></span><span>Sec</span></div>
                          </div>
                        </div>
                        <!-- Others Info -->
                        <div class="row gx-2 align-items-center mt-3">
                          <div class="col-8"><span class="d-block fz-12"><i class="bi bi-bag me-1"></i>29 stock available</span></div>
                          <div class="col-4 text-end">
                            <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                          </div>
                        </div>
                        <!-- Meta Info -->
                        <div class="row gx-2 align-items-center mt-2">
                          <div class="col-8">
                            <div class="name-info d-flex align-items-center">
                              <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u3.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                              <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Vigor Dance">Vigor Dance</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@fancy_nft</a></div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                              <h6 class="mb-0">0.784 ETH</h6>
                            </div>
                          </div>
                          <div class="col-12"><a class="btn btn-warning rounded-pill btn-sm mt-3 w-100" href="#">Place Bid</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <h5>Top NFTs</h5><a class="btn btn-primary btn-minimal" href="#">View all NFTs</a>
                </div>
                <div class="row g-4 justify-content-center">
                  <div class="col-12 col-sm-6 col-xl-4">
                    <div class="nft-card card featured-card border-0 bg-gray">
                      <div class="img-wrap"><img src="img/bg-img/40.jpg" alt="">
                        <!-- Badge -->
                        <div class="badge bg-primary position-absolute"><img src="img/core-img/fire.png" alt="">Featured</div>
                        <!-- Dropdown -->
                        <div class="dropdown">
                          <button class="btn dropdown-toggle rounded-pill shadow-sm" id="dropdowns1" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                          <!-- Dropdown Menu -->
                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdowns1">
                            <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                            <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                            <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-body">
                        <!-- Others Info -->
                        <div class="row gx-2 align-items-center">
                          <div class="col-8"><span class="d-block fz-12"><i class="bi bi-arrow-up"></i>Hightest bid 0.061 ETH</span></div>
                          <div class="col-4 text-end">
                            <button class="wishlist-btn active" type="button"><i class="bi"></i></button>
                          </div>
                        </div>
                        <!-- Meta Info -->
                        <div class="row gx-2 align-items-center mt-2">
                          <div class="col-8">
                            <div class="name-info d-flex align-items-center">
                              <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u1.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                              <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Cowboy Riding Bull Nature">Cowboy Riding Bull Nature</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@designing_world</a></div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                              <h6 class="mb-0">0.061 ETH</h6>
                            </div>
                          </div>
                        </div>
                        <!-- Button -->
                        <div class="row gx-2 align-items-center mt-3">
                          <div class="col-6"><a class="btn btn-primary rounded-pill btn-sm" href="#">Place Bid</a></div>
                          <div class="col-6 text-end"><a class="btn btn-minimal btn-sm hover-primary" href="activity.html"> <i class="bi bi-activity me-1"></i>Activity</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-xl-4">
                    <div class="nft-card card featured-card border-0 bg-gray">
                      <div class="img-wrap"><img src="img/bg-img/41.jpg" alt="">
                        <!-- Badge -->
                        <div class="badge bg-danger position-absolute"><img src="img/core-img/fire.png" alt="">New</div>
                        <!-- Dropdown -->
                        <div class="dropdown">
                          <button class="btn dropdown-toggle rounded-pill shadow-sm" id="dropdownxs2" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                          <!-- Dropdown Menu -->
                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownxs2">
                            <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                            <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                            <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-body">
                        <!-- Others Info -->
                        <div class="row gx-2 align-items-center">
                          <div class="col-8"><span class="d-block fz-12"><i class="bi bi-arrow-up"></i>Hightest bid 0.78 ETH</span></div>
                          <div class="col-4 text-end">
                            <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                          </div>
                        </div>
                        <!-- Meta Info -->
                        <div class="row gx-2 align-items-center mt-2">
                          <div class="col-8">
                            <div class="name-info d-flex align-items-center">
                              <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u2.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                              <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Chicken Wearing Santa Hats">Chicken Wearing Santa Hats</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@style_wear</a></div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                              <h6 class="mb-0">0.96 ETH</h6>
                            </div>
                          </div>
                        </div>
                        <!-- Button -->
                        <div class="row gx-2 align-items-center mt-3">
                          <div class="col-6"><a class="btn btn-primary rounded-pill btn-sm" href="#">Place Bid</a></div>
                          <div class="col-6 text-end"><a class="btn btn-minimal btn-sm hover-primary" href="activity.html"> <i class="bi bi-activity me-1"></i>Activity</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-xl-4">
                    <div class="nft-card card featured-card border-0 bg-gray">
                      <div class="img-wrap"><img src="img/bg-img/42.jpg" alt="">
                        <!-- Dropdown -->
                        <div class="dropdown">
                          <button class="btn dropdown-toggle rounded-pill shadow-sm" id="dropdownqw3" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>
                          <!-- Dropdown Menu -->
                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownqw3">
                            <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-share"></i>Share</a></li>
                            <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-flag"></i>Report</a></li>
                            <li><a class="dropdown-item" href="#"><i class="me-1 bi bi-bookmark"></i>Bookmark</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-body">
                        <!-- Others Info -->
                        <div class="row gx-2 align-items-center">
                          <div class="col-8"><span class="d-block fz-12"><i class="bi bi-arrow-up"></i>Hightest bid 1.065 ETH</span></div>
                          <div class="col-4 text-end">
                            <button class="wishlist-btn" type="button"><i class="bi"></i></button>
                          </div>
                        </div>
                        <!-- Meta Info -->
                        <div class="row gx-2 align-items-center mt-2">
                          <div class="col-8">
                            <div class="name-info d-flex align-items-center">
                              <div class="author-img position-relative"><img class="shadow" src="img/bg-img/u3.jpg" alt=""><i class="bi bi-check position-absolute bg-success"></i></div>
                              <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="item-details.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Diamond Animals">Diamond Animals</a><a class="author d-block fz-12 hover-primary text-truncate" href="author.html">@affan</a></div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="price text-end"><span class="fz-12 d-block">Current Bid</span>
                              <h6 class="mb-0">1.065 ETH</h6>
                            </div>
                          </div>
                        </div>
                        <!-- Button -->
                        <div class="row gx-2 align-items-center mt-3">
                          <div class="col-6"><a class="btn btn-primary rounded-pill btn-sm" href="#">Place Bid</a></div>
                          <div class="col-6 text-end"><a class="btn btn-minimal btn-sm hover-primary" href="activity.html"> <i class="bi bi-activity me-1"></i>Activity</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-8">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-4 pb-3">
                <div class="d-flex align-items-center"><img class="me-1" src="img/core-img/ethereum.png" alt="">
                  <h5 class="mb-0">Price History</h5>
                </div>
                <div id="chart-price"></div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <h5>Top Seller</h5><a class="btn btn-primary btn-minimal" href="#">View all</a>
                </div>
                <!-- Single Card -->
                <div class="nft-card card seller-card shadow-sm mb-4">
                  <div class="card-body">
                    <div class="row align-items-center g-3">
                      <div class="col-4">
                        <div class="img-wrap"><img src="img/bg-img/u1.jpg" alt="">
                          <div class="badge bg-danger position-absolute px-2 py-1">#1</div>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="#">Designing World<i class="bi bi-patch-check-fill ms-2 text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"></i></a><a class="author d-block fz-14 hover-primary text-truncate" href="#">@designing_world</a>
                          <div class="price-bid d-flex align-items-center mt-3">
                            <p class="mb-0 lh-1 d-flex align-items-center fz-14"><i class="me-1 bi bi-gem"></i>3,057 Items</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Single Card -->
                <div class="nft-card card seller-card shadow-sm">
                  <div class="card-body">
                    <div class="row align-items-center g-3">
                      <div class="col-4">
                        <div class="img-wrap"><img src="img/bg-img/u2.jpg" alt="">
                          <div class="badge bg-danger position-absolute px-2 py-1">#2</div>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="name-author"><a class="name d-block hover-primary fw-bold text-truncate" href="#">Art World<i class="bi bi-patch-check-fill ms-2 text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"></i></a><a class="author d-block fz-14 hover-primary text-truncate" href="#">@art_world</a>
                          <div class="price-bid d-flex align-items-center mt-3">
                            <p class="mb-0 lh-1 d-flex align-items-center fz-14"><i class="me-1 bi bi-gem"></i>671 Items</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-4">
                <h5 class="mb-3">Top Authors</h5>
                <div class="top-author-slide-wrap">
                  <div class="top-authors-slide">
                    <div><a href="#"><img src="img/bg-img/u1.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u2.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u3.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u4.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u1.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u2.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u3.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u4.jpg" alt=""></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card border-0 shadow-sm">
              <div class="card-body p-4">
                <h5 class="mb-3">Top Buyers</h5>
                <div class="top-buyer-slide-wrap">
                  <div class="top-buyer-slide">
                    <div><a href="#"><img src="img/bg-img/u1.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u2.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u3.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u4.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u1.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u2.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u3.jpg" alt=""></a></div>
                    <div><a href="#"><img src="img/bg-img/u4.jpg" alt=""></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- All JavaScript Files-->
    <script src="js/all-js-libraries.js"></script>
    <script src="js/active.js"></script>
    <script src="js/charts.js"></script>
  </body>
</html>